In [130]:
import numpy as np
import pandas as pd

In [368]:
df_movie_raw = pd.read_csv('Pandas data/movies.csv', index_col = 'movieId')
df_rating_raw = pd.read_csv('Pandas data/ratings.csv', index_col = 'movieId')

## Задание 1

In [405]:
#Лепим фрейм
merges_frame = pd.concat([df_rating_raw, df_movie_raw], axis=1, join='inner')
#Фильтруем фрейм
df_five_rating = merges_frame.loc[merges_frame['rating'] == 5.0]
#Формирую сводную
df_fp_rating = pd.pivot_table(df_five_rating,  
                   values = ['rating'],
                   index = ['title'],
                   aggfunc=(len),    
                  )

#Принимает на вход сводню таблицу и выплевывает интерпритированный ответ
def get_best(df, 
             word_interp = False, 
             maximum = True):
    
    new_dict = {}
    _dict = df.to_dict('index')
    
    for element, v in _dict.items():
        for item in v.values():
            new_dict[element] = item
            
    if word_interp == True and maximum == True:
        return print(f'Тут {max(new_dict, key=new_dict.get)} больше всего, а именно {max(new_dict.values())}')
    elif word_interp == False and maximum == True:
        return max(new_dict, key=new_dict.get), max(new_dict.values())
    elif word_interp == False and maximum == False:
        return sum(new_dict.values())
    else:
        pass

In [406]:
get_best(df = df_fp_rating, 
              word_interp = True)

Тут Shawshank Redemption, The (1994) больше всего, а именно 153.0

## Задание 2

In [356]:
df_power_raw

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [412]:
df_power_raw = pd.read_csv('Pandas data/power.csv')

df_sort = df_power_raw.loc[ 
    (df_power_raw['country'].isin(['Estonia', 'Latvia', 'Lithuania']))
    & (df_power_raw['year'].isin(['2005', '2006', '2007', '2008', '2009', '2010']))
    & (df_power_raw['category'].isin(['4', '12', '21']))
    & (df_power_raw['quantity'] > 0)
]

df = pd.pivot_table(df_sort, 
                    values = ['quantity'], 
                    index = ['country'], 
                    aggfunc = (sum),
                   )

In [413]:
get_best(df = df, maximum = False)

240580.0

In [414]:
get_best(df = df)

('Lithuania', 122296.0)

## Задание 3

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [67]:
#URL
currency = pd.read_html('https://fortrader.org/quotes/ruble')
price_item = pd.read_html('https://fortrader.org/quotes/commodity-markets')
price_metals = pd.read_html('https://fortrader.org/quotes/metals')
russian_stock = pd.read_html('https://fortrader.org/quotes/russianstock')

#DataFrame
price_item_df = price_item[0][['Название', 'Цена', 'Изменение', 'Изменение(%)']]
currency_df = currency[0][['Название','Цена', 'Изменение', 'Изменение(%)']]
price_metals = price_metals[0][['Название','Цена', 'Изменение', 'Изменение(%)']]
russian_stock = russian_stock[0][['Название','Цена', 'Изменение', 'Изменение(%)']]

In [68]:
price_item_df

                              Название    Цена  Изменение  Изменение(%)
0       Нефть Brent Курс нефти сегодня   74.79      -2.31         -3.00
1          Нефть WTI Цены на нефть WTI   73.67      -2.57         -3.37
2  Природный газ Цена на природный газ    3.63      -0.16         -4.33
3                                 Кофе  149.70      -3.35         -2.19
4                             Кукуруза  551.60     -40.40         -6.82
5                                  Соя  357.50     -22.90         -6.02
6                               Хлопок   87.32       0.35          0.40

In [69]:
currency_df

                           Название   Цена  Изменение  Изменение(%)
0  EURRUB Курс евро к рублю сегодня  87.89       0.93          1.07
1       USDRUB Курс рубля к доллару  74.39       0.99          1.35

In [70]:
price_metals

                           Название   Цена  Изменение  Изменение(%)
0       Золото Цена золота на бирже  1 803       8.00          0.00
1  Серебро Цена на серебро на бирже  26.22      -0.20         -0.77
2         Палладий Цена на Палладий  2 788     -34.00         -1.00
3           Платина Цены на платину  1 087     -15.00         -1.00
4           Медь Цена меди на бирже   4.26      -0.08         -1.95

In [71]:
russian_stock

,Название,Цена,Изменение,Изменение(%)
0,ВТБ Акции ВТБ,0.049300,-0.001245,-2.463152
1,Газпром Акции газпрома,294.71,+3.61,1.240000
2,Лукойл Акции Лукойл,6 834.5,-10.5,-0.200000
3,Роснефть Акции Роснефти,573.60,+6.10,1.070000
4,Сбербанк Акции Сбербанка,302.98,-4.02,-1.310000
5,Сургутнефтегаз Акции Сургутнефтегаза,36.760,-0.125,-0.339000
6,Норникель Акции Норникель,24 542,-382,-2.000000
7,Аэрофлот Акции Аерофлота,68.34,-1.00,-1.440000
8,Детский мир iDreamSky Technology Limited,151.10,-0.38,-0.250000
9,Северсталь Акции Северсталь,1 530.80,-24.20,-1.560000
10,Транснефть Акции Транснефть,179 200,+1 400,1.000000
11,Ростелеком Курс акций ростелекома,101.95,-1.59,-1.540000
12,РУСАЛ Акции РУСАЛ (RUAL),48.835,-1.000,-2.007000
13,Петропавловск Акции Петропавловск,23.44,-0.56,-2.330000
14,НМЛК Акции НЛМК (NLMK),222.460,-4.380,-1.931000
15,Алроса Акции АЛРОСА (ALRS),121.060,-3.680,-2.950000
16,Магнит Акции Магнит (MGNT),5 233.0,+1.0,0.000000
17,М.видео Акции М.видео (MVID),638.40,-5.60,-0.870000
18,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",449.70,+7.15,1.620000
19,НМТП Акции НМТП (NMTP),6.9800,-0.0700,-0.992900
20,Полиметалл Акции Полиметалл (POLY),1 628.60,+19.70,1.220000
21,Полюс Золото Акции Полюс Золото (PLZL),14 248.5,+53.5,0.400000
22,НОВАТЭК Акции НОВАТЭК (NVTK),1 655.60,-25.60,-1.520000
23,РусГидро Акции РусГидро (HYDR),0.8692,-0.0088,-1.002300
24,Татнефть Акции Татнефть (TATN),541.60,-0.80,-0.150000
25,"АФК Система Акции АФК ""Система"" (AFKS)",31.348,-0.756,-2.355000
26,МТС Акции МТС,349.60,+0.30,0.090000
27,Башнефть Акции Башнефть (BANE),1 500.0,-24.5,-1.600000
28,Яндекс Акции Яндекс (YNDX),5 211.4,-1.0,-0.000000
29,X5 Retail Group Акции X5 Retail Group (FIVE),2 575.00,0.00,0.000000
30,ФСК ЕЭС Акции ФСК ЕЭС (FEES),0.22392,+0.00146,0.656300
31,Мечел Акции Мечел (MTLR),74.56,-2.05,-2.680000
32,МосБиржа Акции МосБиржа (MOEX),172.55,-0.52,-0.300000
33,Интер РАО Акции Интер РАО (IRAO),4.68,-0.12,-2.480000
34,"Mail.ru Акции Mail.ru (MAIL, ДР)",1 655.20,-2.80,-0.170000
35,Киви Акции Киви (QIWI),775.0,-2.5,-0.300000
36,"Лента Акции Лента (LNTA, ДР)",245.50,+0.50,0.200000
37,"Тинькофф Акции Тинькофф (TCSG, др)",6 732.00,+102.00,1.540000
38,Озон Акции Озон (Ozon),4 184.50,-76.00,-1.780000